.mat-footer-row,
.mat-header-row,
.mat-row {
    display: inline-flex;
    min-width: 100%;
}

.mat-column-id {
    min-width: 5%;
}

.mat-column-firstName {
    min-width: 20%;
}

.mat-column-lastName {
    min-width: 20%;
}

.mat-column-heroName {
    min-width: 20%;
}

.mat-column-heroPower {
    min-width: 30%;
}