
.main-container{
    top: 30%;
    margin-inline: 30%;
    position: absolute;
    align-items: center;
    border: 5px double;
    border-radius:20px;
    padding: 3% 5% 5% 5%;
}

.buttons-container{
    margin-top: 15%;
}

