<div class="formAddEditHero">

    <div fxLayout="row" fxLayoutAlign="space-between center">
        <!-- Title -->
        <mat-label><strong>{{title}}</strong></mat-label>
        <!-- Close button -->
        <button mat-icon-button color="primary"
        (click)="this.matDialogRef.close()"><mat-icon>close</mat-icon></button>
    </div>

    <form [formGroup]="heroForm" (ngSubmit)="onSubmit()">
        <div>
            <mat-form-field>
                <mat-label>First Name</mat-label>
                <input matInput [formControl]="this.heroForm.get('firstName')">
                <button mat-button *ngIf="this.heroForm.get('firstName').value" matSuffix mat-icon-button
                    aria-label="Clear" (click)="this.heroForm.get('firstName').setValue('')">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field>
                <mat-label>Last Name</mat-label>
                <input matInput [formControl]="this.heroForm.get('lastName')">
                <button mat-button *ngIf="this.heroForm.get('lastName').value" matSuffix mat-icon-button
                    aria-label="Clear" (click)="this.heroForm.get('lastName').setValue('')">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field>
                <mat-label>Hero Name</mat-label>
                <input matInput [formControl]="this.heroForm.get('heroName')">
                <button mat-button *ngIf="this.heroForm.get('heroName').value" matSuffix mat-icon-button
                    aria-label="Clear" (click)="this.heroForm.get('heroName').setValue('')">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Hero Power</mat-label>
                <input matInput [formControl]="this.heroForm.get('heroPower')">
                <button mat-button *ngIf="this.heroForm.get('heroPower').value" matSuffix mat-icon-button
                    aria-label="Clear" (click)="this.heroForm.get('heroPower').setValue('')">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="end">
            <button mat-raised-button color="primary" [disabled]="!heroForm.valid"
                onsubmit="onSubmit()">{{buttonText}}</button>
        </div>
    </form>
</div>